@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  font-size: 20px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-position {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video-chat-container {
  width: 100%;
  background-color: black;
  text-align: center;
}

#local-video {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

#remote-video {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

/* NAVIGATION BAR */

/* any list item, a tag and button design for navbar */
.nav_links li,
a,
button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #1c2237;
}

h1 {
  margin-left: 5px;
  margin-right: auto;
  font-size: 25px;
  color: #ffffff;
}

/* a flex and space between to allow the navbar look slick and well spaced */
header {
  position: sticky; /* sticky and top 0 ensures it stays fixed the header content */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #1c2237;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #1c2237;
  color: #ffffff;
}

/* no bullet points and the backgroundcolor to cover entire navbar */
.nav_links {
  list-style: none;
}

/* single block */
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

/* smooth effects when hovering */
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0bccfb;
}

button {
  padding: 7px 20px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 38px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.85);
}

/* Hero Section */
.banner {
  width: 100%;
  height: 70vh;
}
/* every even banner will have a background and different text to provide intuitive design */
.banner:nth-child(even) {
  background: #1c2237;
  color: #ffffff;
}

.banner:nth-child(even) .hero-content {
  width: 25%;
  padding: 160px;
}

.banner:nth-child(odd) .hero-content {
  width: 25%;
  padding: 160px;
  margin-left: auto;
}

.hero-content span {
  color: #f00946;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-content h2 {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
}

.hero-content p {
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: 1px;
}
