.row {
  display: flex;
}

.col {
  flex: 50%;
  flex-direction: row-reverse;
}

/* every even banner will have a background and different text to provide intuitive design */
.container:nth-child(even) {
  background: #1c2237;
  color: #ffffff;
}

.hero-content {
  max-width: 100%;
  padding: 180px;
}

.hero-img-wrapper {
  height: auto;
  max-width: 100%;
}

.hero-image {
  width: auto;
  height: 425px;
  padding-top: 55px;
  padding-right: 200px;
}

.container:nth-child(2) .hero-image {
  width: 350px;
  height: 350px;
  padding-left: 32%;
  padding-top: 120px;
}

.hero-content span {
  color: #f00946;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-content h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 600;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: auto;
  font-weight: 10;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
